<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="curl" version="7.30.0.2" targetFramework="native" />
  <package id="curl.redist" version="7.30.0.2" targetFramework="native" />
  <package id="jsoncpp-vc140-static-32_64" version="1.8.0" targetFramework="native" />
  <package id="libssh2" version="1.4.3.1" targetFramework="native" />
  <package id="libssh2.redist" version="1.4.3.1" targetFramework="native" />
  <package id="openssl" version="1.0.1.21" targetFramework="native" />
  <package id="openssl.redist" version="1.0.1.25" targetFramework="native" />
  <package id="swigwintools" version="3.0.12" targetFramework="native" />
  <package id="zlib" version="1.2.8.1" targetFramework="native" />
  <package id="zlib.redist" version="1.2.8.1" targetFramework="native" />
</packages>